body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

#game-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game-canvas {
    display: block;
}